.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #666;
}

.placeholder-content {
  text-align: center;
}

.placeholder-icon {
  font-size: 64px;
  margin-bottom: 15px;
  opacity: 0.5;
}

.placeholder-text {
  font-size: 20px;
  opacity: 0.7;
}
