.flip-digit-container {
  position: relative;
  width: 12vw;
  height: 16vw;
  max-width: 180px;
  max-height: 240px;
  perspective: 2000px;
  margin: 0 0.5vw;
}

.flip-digit {
  position: relative;
  width: 100%;
  height: 100%;
}

.flip-digit-top,
.flip-digit-bottom,
.flip-digit-back-top,
.flip-digit-back-bottom {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  background: linear-gradient(to bottom, #202020, #141414);
  border: 4px solid #000;
  border-radius: 16px;
}

.flip-digit-top {
  top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 2px;
}

.flip-digit-bottom {
  bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 2px;
}

.flip-digit-face {
  position: absolute;
  width: 100%;
  height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(150px, 10vw);
  font-weight: bold;
  color: #cbcaca;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  font-family: 'Arial', sans-serif;
}

.flip-digit-top .flip-digit-face {
  top: 0;
}

.flip-digit-bottom .flip-digit-face {
  bottom: 0;
}

.flip-digit-back-top {
  top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 2px;
  transform-origin: bottom;
  animation: flipTop 0.6s ease-in-out;
  z-index: 2;
}

.flip-digit-back-bottom {
  bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 2px;
  transform-origin: top;
  animation: flipBottom 0.6s ease-in-out;
  z-index: 1;
}

.flip-digit-back-top .flip-digit-face {
  top: 0;
}

.flip-digit-back-bottom .flip-digit-face {
  bottom: 0;
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flipBottom {
  0% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.flip-digit-top::after,
.flip-digit-bottom::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: #000;
}

.flip-digit-top::after {
  bottom: 0;
}

.flip-digit-bottom::before {
  top: 0;
}
