.grid-container {
  display: grid;
  grid-template-rows: 40% 60%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.grid-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.grid-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  padding: 20px;
}

.grid-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #000000;
}
