.grid-container {
  display: grid;
  grid-template-rows: 60% 40%;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

.grid-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-bottom: 2px solid #333;
}

.grid-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040404;
  border-right: 2px solid #333;
  padding: 20px;
}

.grid-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  padding: 20px;
}
